<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>emberU Representatives would love to help you<br>choose a destination or answer
    any questions you may have.</p>
  <p>
  
    <a href="mailto:roushan.jha0709@gmail.com">roushan.jha0709@gmail.com</a>
  </p>
</div>